<h1> Edit Account </h1>
<%= form_for :user, url: user_path(params[:id]), method: :put,
    html: { :class => "cbxForm center med"} do |f| %>
  <%= render 'user_fields', f: f %>
  <%= submit_tag "Update" %>
<% end %>