<div id="user_feed" class="center">
  <h1>
    Joe User (username)
  </h1>
  <dl id="profile">
    <dt>
      Name
    </dt>
    <dd>
      Joe Smoe
    </dd>
    <dt>
      Email
    </dt>
    <dd>
      joeuser@example.com
    </dd>
  </dl>
  <div class="follow">
    <a href="joe_user/followers.html" > xx Followers </a>
    <a href="joe_user/followings.html" > Following xx </a>
  </div>
  <h4 class="createB">
    <a href="../bookmarks/new.html"> New Bookmark </a>
  </h4>
  <section id="bookmarks" class="feed">
    <article>
      <h3>
        <a href="http://www.google.com"> Google: a wonderful search engine </a>
        <span class="editB">
          <a href="../bookmarks/edit.html"> Edit </a>
        </span>
      </h3>
      <div>      
        <a href="http://www.google.com">google.com</a>
        <span> 5 stars </span>
      </div>
      <p>
        Google is the number one search engine in the world. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
    </article>
    <article>
      <h3>
        <a href="http://www.github.com"> My favorite git website </a>
        <span class="editB">
          <a href="../bookmarks/edit.html"> Edit </a>
        </span>
      </h3>
      <div>      
        <a href="http://www.github.com">github.com</a>
        <span> 4 stars </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
    </article>
    <article>
      <h3>
        <a href="http://www.yahoo.com"> I don't know why I bookmarked this </a>
        <span class="editB">
          <a href="../bookmarks/edit.html"> Edit </a>
        </span>
      </h3>
      <div>      
        <a href="http://www.yahoo.com">yahoo.com</a>
        <span> 1 stars </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
    </article>
    <article>
      <h3>
        <a href="http://blogs.reuters.com/felix-salmon/2012/09/18/kickstarter-vaporware-of-the-day-lifx-edition/"> Some article on kickstarter </a>
        <span class="editB">
          <a href="../bookmarks/edit.html"> Edit </a>
        </span>
      </h3>
      <div>      
        <a href="http://blogs.reuters.com/felix-salmon/2012/09/18/kickstarter-vaporware-of-the-day-lifx-edition">blogs.reuters.com</a>
        <span> 3 stars </span>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      </p>
    </article>
  </section>
</div>