<header class="navHeader">
  <div class="content navContent">
    <a id="logo">ClutterBox</a>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="bookmarks/popular.html">Popular</a></li>
        <li><a href="tags/chico.html">Tags</a></li>
        <li><a href="login.html">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>