body {
  padding-top: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.1em;
  letter-spacing: -1.45px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: Impact, Charcoal, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navHeader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  overflow: visible;
  margin-bottom: 20px;
  background-color: #2795D0;
}

.navContent > #logo {
  float: left;
  margin: 5px;
  font-size: 1.9em;
  color: #FFE362;
}

.navContent > nav > ul {
  float: right;
  list-style: none;
}

.navContent > nav > ul > li {
  float: left;
  margin-right: 15px;
  display: block;
}

.navContent > nav > ul > li > a {
  display: block;
  color: #FFEC93;
}

.center {
  margin: 0 auto;
}

.content {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.content::before, .content::after {
  display: table;
  content: "";
}

.content:after {
  clear: both;
}

#home {
  padding-top: 20px;
}

#home h1, #home h2, #home h3, #home h4, #home h5, #home h6 {
  text-align: center;
  padding: 10px;
}

#welcome {
  text-align: center;
  background-color: #8DCAEB;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#welcome > p {
  display: inline-block;
}

form.cbxForm {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: none repeat scroll 0 0 white;
  border: 1px solid #D0D7E5;
  border-radius: 6px;
  margin: 4px;
  width: 300px;
  background-color: #FFEC93;
}

form.cbxForm.wid4 {
  width: 400px;
}

form.cbxForm label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
  color: #999;
  font-weight: bold;
  margin-left: 10px;
  padding-right: 3px;
  width: 75px;
}

form.cbxForm textarea {
  width: 250px;
  height: 50px;
}

form.cbxForm.med label {
  width: 100px;
}

div.txtCenter {
  text-align: center
}

input[type="button"], 
input[type="submit"] {
  width:100px;
}

form.cbxForm.center {
 margin: 0 auto;
}

.feed {
  text-align: center;
}

.feed article {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: none repeat scroll 0 0 white;
  border: 1px solid #D0D7E5;
  border-radius: 6px;
  margin: 4px;
}

.feed article > h3 > a {
  color: #D23A52;
}

.editB {
  padding: 15px;
  font-size: 12px;
}

.editB > a {
  color: #444;
}

.feed div > a {
  color: #999;
  font-size: 13px;
  margin-left: 10px;
}
.feed div > span {
  color: #D8BC3B;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing: -1.5px;
}

#user_feed #profile {
  margin: 0 auto;
  width: 200px;
}

#user_feed dt {
  color: #999;
}

.follow {
  margin: 15px;
  text-align: center;
}

.follow > a {
  color: #444;
  margin-right: 10px;
  margin-left: 10px;
}

.createB { 
  margin-right: 10px;
  margin-left: 10px;
}

.createB a {
  color: #3786B0;
}

#show_bookmark {
  text-align: center;
}

#show_bookmark h5 > a {
  color: #999;
}

.rating {
  color: #D8BC3B;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing: -1.5px;
}

.tags {
  color: #62BBEB;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing: -1.5px;
}