<span class="tag">
  <span>
    <%= link_to tagging.tag.name, tag_path(tagging.tag), class: "item" %>
    <% if current_user?(tagging.bookmark.user) %>
      <%= link_to "x", bookmark_tagging_path(tagging.bookmark_id, tagging.id), 
          method: :delete, class: "remove" %>
    <% end %>
  </span>
</span>